extends layout

block content
  ul
  each val in products
    li= `Name : ${val.name}, Type: ${val.type}`
        a(href=`/products/edit/${val._id}`)
            button Edit 
        a(href=`/products/delete/${val._id}`)
            button Delete 
        a(href=`/products/details/${val._id}`)
            button Details
  
  a(href="/products/add")  
    button Add Record
    
